*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #3DD3CC;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-left: 20px;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both; 
}
nav h1 {
	
	float: left;
	padding:15px 0;
	color: #3DD3CC;
}
nav ul {
	
	float: right;
}
nav ul li {
	display: inline-block;

}
nav ul li a {
	padding: 25px 20px;
	display: inline-block;
}
nav ul li a:hover{
	background-color: #3DD3CC;
	color: #fff;
}
.banner{
	height: 500px;
	background-image: url('img/background.jpg');
	background-size: cover;
	position: relative;
 }
 .ok h1 {
    width: 800px;
    height: 180px;
    left: 250px;
    top: 75px;
    margin-left: 200px;
    font-family: inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    position: relative;
 }
 .ok p {
    width: 381px;
    height: 96px;
    left: 250px;
    top: 25px;
    margin-left: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20	px;
    line-height: 180%;
    position: relative; 
 }
.ok .button {
	text-align: center;
    margin-left: 750px;
    background: #3DD3CC;
    padding: 8px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;

}
.bar img{
    margin-top: 80px;
    width: 250px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.prod h2{
    text-align: center;
    color: #3DD3CC;
    margin-bottom: 50px;
}

.prod img{
    width: 400px;
}
.prod h4{
    margin-left: 10px;
    text-align: center;
}
.prod p{
    text-align: center;
}
.prod .fas{
	color: red;
	margin-bottom: 30px;

}
.prod .button{
    background-color: #3DD3CC;
    padding: 5px 30px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    margin-left: 140px;
}
.banyak .button{
	background-color:#3DD3CC;
	padding: 5px 30px;
	text-decoration: none;
	color: white;
	margin-left: 750px;
}
.about{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about h2{
   text-align: center;
   color: #3DD3CC; 
}
.about p{
    margin: 30px 100px;
    font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	text-align: center;
    margin-left: 400px;
}
.kontak{
    background-color: gainsboro;
}
.kontak h2{
    text-align: center;
    color: #3DD3CC;
}
.kontak form{
   margin-left: 800px;
}
form .button{
    color: white;
    background: #3DD3CC;
    padding: 5px 30px;
    text-decoration: none;
}
.footer p{
    margin-left: 800px;
}

